/* ========================================
   Google Fonts Import
======================================== */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* ========================================
   CSS Variables
======================================== */

:root {
  /* ========= Main colors (HSL - hue, saturation, and lightness) ========= */

  /* Blue - hsl(217, 85%, 74%); */
  /* Purple - hsl(245, 54%, 74%); */
  /* Teal - hsl(181, 47%, 49%); */
  /* Yellow - hsl(65, 60%, 70%); */
  /* Green - hsl(162, 60%, 65%); */
  /* Red - hsl(356, 67%, 70%); */
  /* Pink - hsl(330, 73%, 72%); */

  --hue: 217;
  --sat: 85%;
  --light: 74%;

  --primary-color: hsl(var(--hue) var(--sat) var(--light)); /* primary */
  --white-color: hsl(var(--hue) 45% 98%); /* white */
  --dark-color: hsl(var(--hue) 26% 12%); /* dark */

  /* ======= Changeable colors for dark/light themes ======= */
  --color-01: hsl(var(--hue) var(--sat) var(--light)); /* primary to dark */
  --color-02: hsl(var(--hue) 45% 98%); /* white to dark */
  --color-03: hsl(var(--hue) 26% 12%); /* dark to white */
  --color-04: hsl(var(--hue) 0% 62%); /* light-gray to dark-gray */
  --color-05: hsl(var(--hue) 26% 12%); /* dark to primary */

 
  --body-color: hsl(250 26% 12%); /* dark to white */
  --hover-color: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

  /* ======= Background colors ======= */
  --bottom-nav-bg: hsl(var(--hue) 32% 25% / 0.65);
  --card-bg: linear-gradient(120deg, hsl(var(--hue) 54% 74% / 0.15), hsl(var(--hue) 54% 74% / 0.05));
  --modal-backdrop-bg: hsl(var(--hue) 54% 74% / 0.1);
  --footer-bg: linear-gradient(360deg, hsl(var(--hue) 54% 74% / 0.15), hsl(var(--hue) 54% 74% / 0.1));

  --scrollbar-color: hsl(var(--hue) 25% 20%);
  --scrollbar-thumb: hsl(var(--hue) var(--sat) var(--light));
  --scrollbar-thumb-hover: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));


  /* ======= Font and Typography ======= */
  --body-font-family: 'Inter', sans-serif;

  /* ======= Font Sizes ======= */
  --h1-font-size: 2.85rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.97rem;
  --h4-font-size: 1.43rem;
  --h5-font-size: 1.13rem;

  --xl-font-size: 1.48rem;
  --lg-font-size: 1.23rem;
  --md-font-size: 1.18rem;
  --base-font-size: 1.1rem;
  --sm-font-size: 1.07rem;
  --xs-font-size: 0.98rem;

  /* ======= Font Weights ======= */
  --font-leight:300;
  --font-regular:400;
  --font-medium:500;
  --font-semi-bold:600;
  --font-bold:700;

  /* ======= Layering order(z-index) ======= */
    --z-minus: -1;
    --z-base: 0;
    --z-low: 1;
    --z-high: 10;
    --z-content: 100;
    --z-tooltip: 1000;
    --z-fixed: 1100;
    --z-overlay: 1110;
    --z-modal: 1990;
    --z-max:9999;
}


/* ========================================
   RESETS
======================================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font-family);
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-04);
    cursor: pointer;
}


/* ========================================
   BASE STYLES
======================================== */
html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-04);
    background-color: var(--body-color);
    transition: 0.3s;
}


/* ========================================
   REUSABLE STYLES
======================================== */
.asha-section {
    position: relative;
    overflow: hidden;
}

.asha-container {
    max-width: 1170px;
    margin: 0 auto;
}

.asha-sub-container {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
}

.section-title h3 {
    color: var(--color-01);
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 10px;
}

.section-title p {
    color: var(--color-04);
    font-size: var(--base-font-size);
    font-weight: var(--font-regular);
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:75px ;
}


/* ========================================
   COMPONENTS
======================================== */

/* =============== Buttons =============== */
.main-btn {
    width: fit-content;
    padding: 14px 28px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    color: var(--white-color);
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
}

.main-btn a {
    color: var(--color-01);
    font-size: var(--sm-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.main-btn a:hover {
    color: var(--white-color);
}

.border-btn {
    border: 2px solid var(--color-01);
}

.fill-btn {
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.fill-btn a{
    color: var(--dark-color);
}

.avatar-container .hire-01 {
    display: none;
}


/* ========================================
   HEADER
======================================== */
.header {
    z-index: var(--z-fixed);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 0;
    transition: 0.3s ease;
}

.header .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--color-01);
    font-size: 2.6rem;
    font-weight: var(--font-semi-bold);
    letter-spacing: -2px;
    transition: 0.3s;
}

.logo a:hover {
    color: var(--hover-color);
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.lets-talk-icon {
    color: var(--color-01);
    font-size: 1.8rem;
    transition: 0.3s;
    display: none;
}

.lets-talk-icon:hover {
    color: var(--hover-color);
}


/* =============== Dark/light theme buttons =============== */
.theme-btn {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30px;
    cursor: pointer;
}

.theme-btn i {
    position: absolute;
    color: var(--color-01);
    font-size: 1.7rem;
    cursor: pointer;
    transition: 0.3s;
}

.theme-btn:hover i {
    color: var(--hover-color);
    transform: rotate(-20deg);
}

.theme-btn .moon-icon {
    display: none;
}



/* ========================================
   BOTTOM NAVIGATION
======================================== */
.bottom-nav-container {
    position: relative;
}

.bottom-nav {
    z-index: var(--z-fixed);
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

.bottom-nav-inner {
    position: relative;
}

.bottom-nav .menu {
    background: var(--bottom-nav-bg);
    backdrop-filter: blur(10px);
    padding: 15px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid hsl(var(--hue) 45% 98% / 0.1);
    border-left: 1px solid hsl(var(--hue) 45% 98% / 0.1);
    border-radius: 50px;
   /* display: none;*/
}

.bottom-nav .menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-nav .menu li a i {
    color: var(--color-02);
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 50%;
    transition:0.3s ;
}

.bottom-nav .menu li:hover a i {
    color: var(--white-color);
    background-color: var(--hover-color);
}

.bottom-nav .menu .current i {
    color: var(--dark-color) ;
    background: var(--primary-color);
}

.bottom-nav .menu li a span {
    z-index: var(--z-tooltip);
    position: absolute;
    color: var(--dark-color);
    background: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: var(--font-medium);
    padding: 3px 10px;
    transform: translateY(-53px);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}

.bottom-nav .menu li a:hover span {
    opacity: 1;
}

.bottom-nav .menu li a span::before {
    content: '';
    z-index: var(--z-minus);
    position: absolute;
    background: var(--primary-color);
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: -8px;
    transform: rotate(45deg) translateX(-50%);
}

.bottom-nav .menu-hide-btn {
    z-index: var(--z-fixed);
    position: absolute;
    top: -5px;
    right: 0;
    color: var(--dark-color);
    background: var(--color-01);
    font-size: 1.52rem;
    cursor: pointer;
    padding: 2px;
    border-radius: 50%;
    transition: 0.3s ease;
    pointer-events: none;
    opacity: 0;
}

.bottom-nav .menu-hide-btn:hover {
    color: var(--white-color);
    background-color: var(--hover-color);
}

.menu-show-btn {
    z-index: var(--z-fixed);
    position: fixed;
    background: var(--bottom-nav-bg);
    backdrop-filter: blur(10px);
    width: 85px;
    height: 50px;
    border-bottom: 1px solid hsl(var(--hue) 45% 98% / 0.1);
    border-left: 1px solid hsl(var(--hue) 45% 98% / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    translate: -50% 0;
    left: 50%;
    /* bottom: 50px; */
    bottom: -75px;
    opacity: 0;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    animation: wiggle 2s infinite;
    animation-delay: 1s;
}

@keyframes wiggle {
    0%, 5% {
        transform: rotateZ(0deg);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0deg);
    }
}

.menu-show-btn .bar-01,
.menu-show-btn .bar-02 {
    background: var(--primary-color);
    width: 40px;
    height: 3px;
    transition: 0.15s;
}

.menu-show-btn:hover .bar-01,
.menu-show-btn:hover .bar-02 {
    background: var(--hover-color);
}


/* ========================================
   HOME
======================================== */

.home-container {
    height: 100vh;
}

.home-container .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.avatar-img {
    position: relative;
    width: 425px;
    height: 425px;
}

.avatar-img img {
    position: absolute;
    width: 100%;
}

.home-socials {
    position: absolute;
    left: 10%;
}

.home-socials span{
    position: absolute;
    left: 10px;
    color: var(--color-01);
    font-size: var(--tiny-font-size);
    white-space: nowrap;
    transform: rotateZ(-90deg);
    transform-origin: left;
}

.home-socials .social-line{
    background: var(--color-01);
    width: 1px;
    height: 100px;
    margin-top: 37px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.home-socials .social-icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-socials .social-icons li a {
    color: var(--color-01);
    font-size: var(--xl-font-size);
    transition: 0.3s;
   
}

.home-socials .social-icons li a:hover {
    color: var(--hover-color);
}


.avatar-info {
    position: relative;
}

.avatar-info .text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar-info .hello-text {
    font-size: var(--base-font-size);
    font-weight: var(--font-semi-bold);
}

.avatar-info .my-name {
    color: var(--color-02);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

.avatar-info .what-i-do {
    font-size: var(--base-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 35px;
}

.home-scroll-btn {
    position: absolute;
    right: 10%;
    color: var(--color-01);
    display: grid;
    justify-items: center;
    row-gap: 5px;
    animation: up-down 1.5s linear infinite;
    animation-delay: 1.85s;
}

@keyframes up-down {
    0% {
        transform: translateY(8px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(8px);
    }
}

.home-scroll-btn:hover {
    color: var(--hover-color);
}

.home-scroll-btn  .scroll-text {
    writing-mode: vertical-lr;
    font-size: var(--tiny-font-size);
    font-weight: var(--font-regular);
    text-orientation: mixed;
    white-space: nowrap;
    transform: rotate(180deg);
    margin-top: 7px;
}

.home-scroll-btn i {
    font-size: 2rem;
}


/* ========================================
   ABOUT ME
======================================== */
.about-image {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.about-image img {
    width: 100%;
    border-radius: 15px;
}

.about-details {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-info .iam {
    color: var(--color-02);
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold0);
    margin-bottom: 30px;
}

.about-descrription {
    font-size: var(--base-font-size);
    font-weight: var(--font-regular);
    line-height: 25px;
}

.pro-list {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    column-gap: 10px;
    row-gap: 12px;
    margin: 38px 0;
}

.pro-card {
    background: var(--card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 35px 25px;
    text-align: left;
    border-radius: 5px;
}

.pro-card span {
    color: var(--primary-color);
    font-size: 2.75rem;
    font-weight: var(--font-bold);
}

.pro-card p {
    color: var(--color-02);
    font-size: var(--tiny-font-size);
    font-weight: var(--font-regular);
    line-height: 20px;
    max-width: 100px;
}

.about-btns {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}